{
  "extends": "airbnb",
  "plugins": [ "jest" ],
  "env": {
    "jest/globals": true,
    "browser": true,
    "node": true,
  },
  "rules": {
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
    "react/prop-types": [0],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true }],
  }
}